@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
/* font-family: 'Festive', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* font-family: 'Satisfy', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
/* font-family: 'Baloo 2', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* font-family: 'Great Vibes', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
/* font-family: 'Fleur De Leah', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* font-family: 'Sacramento', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');
/* font-family: 'Noto Sans Mono', monospace; */

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.jpg);
    height: 100%;
    background-repeat: repeat;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}



  
  a {
    text-decoration: none;
    color: #054a85;
  }
  
  a:hover {
    color: #054a85;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  #header {
    background: rgba(0, 0, 0, 0.1);
    /* transition: all 0.5s; */
    z-index: 997;
    height: 70px;
    /* top: 60px; */
  }
  #header.header-scrolled {
    background: rgba(5, 87, 158, 0.9);
    top: 0;
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #header .logo a {
    color: #fff;
    text-decoration: none;
  }
  #header .logo img {
    max-height: 40px;
  }
  
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 8px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #032e54;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #0880e8;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(5, 74, 133, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #ffffffc7;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile > ul > li {
    padding: 0;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 20px;
    color: #0665b7;
  }
  .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #000000;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #f6b024;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }

  .alred a{
    text-decoration: none;
    color: #054a85;
  }
  .alred a :visited{
    text-decoration: none;
    color: #04294a;
    
  }

  .cntbox{
    margin-top: 12%;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .container1 {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    /* animation-iteration-count: 2; */
    animation-name: slideInLeft;
  }
  
  
